
.error{
    border:solid red !important;
}
.success{
    border:solid rgb(35, 225, 35) !important;
}
.px p{
    text-align:center;
    color: red;
}
td,th{
    border: 1px solid #dddddd;
 text-align: left;
padding: 8px;
}