{% extends 'mainbase.html' %}
{% block title %}gallery{% endblock %}

{% block content %}

<div class="card-deck"style="width:90%;">
    <div class="card" style="height:10%;margin-left:200px;">
      <img src="https://en.snu.ac.kr/webdata/boardimages/ennews/e05zebfz979z13czeeaz46cz0b7z686z6cdz832z48.jpg" style="height:250px;"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NEWS</h5>
        <p class="card-text">There was also advice from Professor Huh on students' career concerns.There was no moment that I consciously decided to pursue math as a job," adding, "I continued my path as mathematician because I felt most comfortable when I was studying math."

        </p>
        </div>
        <!-- <p class="card-text"><small class="text-muted"></small></p>
      </div> -->
    </div>
    <div class="card"style="height:8%">
      <img src="https://en.snu.ac.kr/webdata/boardimages/ennews/722z16az709z19czbf2ze84zf72z0e3zb5bz2d1z7c.jpg"style="height:250px;"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">"find your way flexibly with goundless confidence"</h5>
        <p class="card-text">To start the symposium, Professor Hankwon Kim (Institute of Foreign Affairs and National Security) explained that the history of China-Korea relations could be divided into three stages: those of development, in the fiels of studying subjects</p>
        </div>
        <!-- <p class="card-text"><small class="text-muted"></small></p>
      </div> -->

    </div>
    <div class="card">
      <img src="https://en.snu.ac.kr/webdata/boardimages/ennews/b90zedezab8za12z0d6zc19zbf7zfe6zf4az8f7z8f.jpg"style="height:250px;" class="card-img-top" alt="...">
      <div class="card-body"style="height:10px;">
        <h5 class="card-title">GROUP DISCUSSION</h5>
        <p class="card-text">Nearly all courses are open to exchange students, unless otherwise noted. Some courses require proof of requisite knowledge and some are restricted to particular majors. Undergraduate students can enroll in graduate courses, if they arenot restrict</p>
      </div>
    
  </div>
 {% endblock %}