<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar" style="background-color:#191970 ;height:50px;text-decoration:none;">
          <div><h3 style="text-align:center;color: aliceblue;">SNU</h3>
            </div>
          <div class="form-inline" style="margin-bottom: auto;">
            <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.href='../login'">login</button>
          </div>
        </nav>
        <nav class="navbar navbar-expand-lg"  style="background-color:darkgrey;">
            <ul class="navbar-nav">
              <li class="nav-item active" style="padding-left: 10rem; font-size: 20px;">
                <a class="nav-link" href="{% url 'mainhome' %}"style="color:azure">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" style="padding-left: 10rem; font-size: 20px;">
                <a class="nav-link" href="{% url 'course' %}" style="color:azure">COURSE</a>
              </li>
              <div>
               <img src="https://www.logolynx.com/images/logolynx/20/20afffa6984a8645ccf2f1d284c39ea2.jpeg"style="height:6
               0px;width:140px;padding-left:50px">
              </div>
              <div>
                <h3 style="color:azure">SEOUL </h3>
                <h4 style="color:azure">NATIONAL UNIVERSITY</h4>
              </div>
              <li class="nav-item" style="padding-left: 4rem; font-size: 20px;">
                <a class="nav-link" href="{% url 'gallery' %}"style="color:azure">GALLERY</a>
              </li>
              <li class="nav-item" style="padding-left:10rem; font-size: 20px;">
                <a class="nav-link" href="{% url 'contact' %}"style="color:azure">CONTACT</a>
              </li>
            </li>
            
            </ul>
          </div>
        </nav>
          <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% block content %}{% endblock %}

    </body>
</html>