 {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <div>
    <div class="px">
         <p id="text"></p>
    </div>
        <form  action="" method="post">
            {% csrf_token %}
            <div>{% for message in messages %}
            <h3 id="text">{{message}}</h3>
            {% endfor %}</div>      
     <div style="border:2px solid;height:250px;width:250px;margin-left: 35%;margin-top:10%;padding:30px;">
        <h2 style="padding-left: 30px;">forgot password</h2>
        <div style="padding-left:7px;">
        <input type="text" name="email" id="email" placeholder="email" onchange="validemail()">
        </div>
        <div style="padding:10px;">
        <input type="password"  id="pass1" name="password" placeholder="password" onchange="validpass()">
        </div>
        <div style="padding:8px;">
        <input type="password" id="pass2" name="password2" placeholder="Confirm Password" onchange="checkpass()">
        </div>
        <div>
            <input type="submit" value="submit" id="signup">
        </div>

        </div>
        </div>
    </form>
        
        <script src="{% static 'js/forget.js' %}" async defer></script>

       
   
